* {
    padding: 0;
    margin: 0;
}

.header {
background-color: rgb(234, 69, 69);
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: 85px;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
    transition: all 0.3s;
}
li:hover{
    transform: scale(1.6);
}
.nav-links {
    margin-right: 85px;
}
.header .nav-links a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}


.header .nav-links a:hover {
    color: black;
}


.logo {
    height: 60px; /* alto de la imagen*/
    width: auto; /* ancho de la imagen*/
    margin-left: 20px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s;
}

.logo:hover {
    transform: scale(1.5);
}

main {
    background-color: blue;
}


.sobremi {
    display: flex;
    text-align: center;
}

.sobremiprimero {
    margin: 100px;
    border: solid black;
}

.sobremiprimero h1 {
    margin-bottom: 15px;
}

.sobremisegundo {
    margin: 100px;
    border: solid black;

}

.sobremisegundo h2 {
    margin-bottom: 15px;
}

.sobremisegundo img {
    border-radius: 100%;
    border: solid black;
}

.estudios img {
    width: 250px;
    border-radius: 100%;
    margin-left: 20px;
    margin-top: 30px;
    border: solid black;
    
}

.estudios {

    display: flex;
    align-items: center;
    background-color: coral;
}

.claseestudios {
    margin-left: 150px;
}

.claseestudios h2 {
    margin-bottom: 30px
}

.claseestudios h2 {
    margin-left: 100px;
}
