.presentacion {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px; /* Agregamos margen superior para compensar el navbar */
  }
  
  .container-presentacion {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .container-presentacion h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .container-presentacion .parrafo {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .container-presentacion img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
  